.git/
.vs/
ALLDemo/bin/
ALLDemo/obj/
packages/

TestAccessAndDataGridView/bin/
TestAccessAndDataGridView/obj/

TestChart/bin/
TestChart/obj/

TestDBF/bin/
TestDBF/obj/

TestFileIO/bin/
TestFileIO/obj/